
/TestResults
/Breakaleg.Console/obj
/Breakaleg.Console/bin
/Breakaleg.Core/bin
/Breakaleg.Core/obj
/Breakaleg.Tests/bin
/Breakaleg.Tests/obj
/Local.testsettings
*.testsettings
/_ReSharper.Breakaleg/
